<section class="about-page">
    <div class="container">
        <div class="about-image-wrap-main">
            <div class="about-wrap-wrap-2">
                <div class="about-image-wrap-2">
                    <img class="about-image-2" src="./images/about-2.jpg" alt="Natalia">
                </div>
            </div>
            <div class="about-wrap-wrap">
                <div class="about-image-wrap">
                    <img class="about-image" src="./images/about-1.jpg" alt="Natalia">
                </div>
            </div>
            <div class="about-wrap-wrap-3">
                <div class="about-image-wrap-3">
                    <img class="about-image-3" src="./images/about-3.jpg" alt="Natalia">
                </div>
            </div>
        </div>
        <h2>övölsövlj</h2>
    </div>
</section>